.BigWidg {
    margin-top: 100px;
    margin-bottom: 100px;
}

.BigWidg__inner {
    position: relative;
    margin: 0 auto;
    width: 880px;
    height: 280px;
    border-radius: 40px;
    background: #DBE6F4; 
}

.BigWidg_inner__block {
    width: 65%;
}

.BigWidg_inner__block h2 {
    padding: 35px 0 0 35px;
    color: #012A4A;
    font-family: Unbounded;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}

.BigWidg_inner__block p {
    padding-top: 10px;
    padding-left: 35px;
    color: #2D506C;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 135.714% */
    letter-spacing: 0.42px; 
}

.Hand {
    position: absolute;
    right: -70px;
    top: -50px;
    width: 420px;
}






@media screen and (min-width: 869px) {
    .container__block {
        max-width: 390px;
    }
    .BigWidg__inner {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 340px;
        height: 32  0px;
        border-radius: 40px;
        background: #DBE6F4; 
    }
}

@media screen and (min-width: 834px) {
    .container__block {
        max-width: 834px; ;
    }

    .BigWidg__inner {
        position: relative;
        margin: 0 auto;
        width: 800px;
        height: 330px;
        height: 32  0px;
        border-radius: 40px;
        background: #DBE6F4; 
    }
    .Hand {
        position: absolute;
        right: -70px;
        top: -2px;
        width: 420px;
    }
}


@media screen and (min-width: 1300px) {
    .container__block {
        max-width: 1280px;
    }

    .BigWidg__inner {
        position: relative;
        margin: 0 auto;
        width: 880px;
        height: 280px;
        border-radius: 40px;
        background: #DBE6F4; 
    }   
    .Hand {
        position: absolute;
        right: -70px;
        top: -50px;
        width: 420px;
    }
    
}